<?xml version="1.0" standalone="no"?>
<?xml-stylesheet type="text/css" href="/static/stats_style.css"?>
<svg xmlns="http://www.w3.org/2000/svg">
  <foreignObject x="10" y="10" width="100" height="150">
    <body xmlns="http://www.w3.org/1999/xhtml">
        <table class="table">
            <thead>
                <td>
                    H1
                </td>
                <td>
                    H2
                </td>
            </thead>
            <!-- Create a looping thingy -->
        </table>
    </body>
  </foreignObject>
</svg>
